* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1440px;
  margin: auto 10%;
  background-color: black;
  color: aliceblue;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1rem;
}

ul,
li {
  list-style-type: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 10px;
}

.nav-link {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-transform: capitalize;
}

.nav-link::after {
  display: block;
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #2c00a6;
  content: "";
  transition: width 0.3s ease-out;
  text-transform: capitalize;
}

.nav-link:hover::after {
  width: 100%;
}

.header-wrapper {
  margin-bottom: 60px;
}

#main-info {
  display: flex;
  flex-direction: row;
  gap: 0;
  height: 300px;
}

.img-avatar {
  height: 300px;
  width: 400px;
  background: url("./assets/avatar.jpg");
  background-repeat: no-repeat;
  background-size: 80%;
  margin-right: 0;
  margin-bottom: 0;
}

.user-info-wrapper {
  align-self: center;
}

.user-name {
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 0px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.user-title {
  font-size: 30px;
  margin-bottom: 0px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.main-line {
  margin-top: 90px;
  width: 150%;
  height: 1px;
  background: #fff;
}

.block-wrapper {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 10%;
  grid-template-columns: 40% 60%;
  margin-bottom: 40px;
}

.section-title {
  text-transform: uppercase;
  margin-bottom: 15px;
}

.email-wrapper,
.github-wrapper,
.location-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10%;
}

.email-wrapper,
.github-wrapper {
  margin-bottom: 10px;
}

.summary-content {
  text-align: justify;
  text-justify: inter-word;
}

.education-record {
  margin-bottom: 10px;
}

.education-info {
  font-weight: bold;
}

.sub-block-wrapper {
  gap: 100px;
}

.pre {
  padding: 0;
  margin: 0;
  margin-left: -130px;
  font-size: 16px;
}

.jsFunctionName {
  color: #a2b824;
}

.jsReturn {
  color: #8e24b8;
}

.jsReturnMain {
  color: #c7c41e;
}

.jsVariable {
  color: #64b7c2;
}
.section-item span {
  color: #66a5ad;
}

.project-wrapper {
  height: 400px;
  width: 800px;
  margin-bottom: 30px;
}

.project-img-slider {
  background: url("./assets/projects/Slider.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(6px);
}

.project-img-git {
  background: url("./assets/projects/Git.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(6px);
}

.project-content {
  position: relative;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 90%;
  height: 90%;
  padding: 30px;
}

.btn-project {
  background-color: #2c00a6;
  color: white;
  font-weight: bold;
  border: none;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  margin-top: 10%;
  margin-bottom: 5px;
}

.btn-project:hover {
  background: rgb(101, 57, 221);
  transform: scale(1.05);
  will-change: transform;
}

.project-name {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 30px;
  color: #2c00a6;
}

.project-technologies,
.project-description {
  margin-bottom: 10px;
  color: #2c00a6;
}

.project-description {
  font-size: 30px;
  font-weight: bold;
  text-align: justify;
  text-justify: inter-word;
  color: #2c00a6;
}
